.page-detail {
  margin: 20px;
  padding: 20px;
  background: #fff;
}

.page-defailt-form {
  width: 600px;
}

.com-template-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.com-template-pre {
  margin: 0 20px;
}

.com-template-view {
  margin: 10px 0;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.com-open-button {
  margin: 20px 0;
}
