.page-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.page-content {
  width: 900px;
  display: flex;
  align-items: stretch;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
